{% extends "base.html" %}
{% block content %}
  <h1>Pikachu</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Nimi:</strong> Picachu</li>
    <li><strong>Järjestysnumero:</strong> 25</li>
    <li><strong>Edellinen muoto:</strong> Pichu</li>
    <li><strong>Seuraava muoto:</strong> Raichu</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    <a href="https://bulbapedia.bulbagarden.net/wiki/Pikachu_(Pok%C3%A9mon)">Linkki pokemonin kuvaukseen</a>
  </p>
{% endblock %}