{% extends "base.html" %}
{% block content %}
<h1>Muokkaa Pokemonia Pikachu</h1>

<form>

    
    
    <div class="form-group">
        <label>Tyyppi</label>
        <input type="text" class="form-control" value="Typpi">
    </div>
    
    <div class="form-group">
        <label>min CP</label>
        <input type="text" class="form-control" value="100">
    </div>
    
    <div class="form-group">
        <label>max CP</label>
        <input type="text" class="form-control" value="1000">
    </div>
    
    <div class="form-group">
        <label>IV alaraja (prosentteina)</label>
        <input type="text" class="form-control" value="95">
    </div>
    
    
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Etsi</button>
    </div>
</form>
{% endblock %}