{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän x pokemonit</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää pokemon</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Järjestysnumero</th>
        <th>Typpi</th>
        <th>Edellinen muoto</th>
        <th>Seuraava muoto</th>
        <th>Kaappauspäivämäärä</th>
        <th>cp</th>
        <th>iv</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pokemonit tähän -->
      <tr>
        <td><a href="#">Pikachu</a></td>
        <td>25</td>
        <td>Sähkö</td>
        <td>Pichu</td>
        <td>Raichu</td>
        <td>10.11.2017</td>
        <td>1000</td>
        <td>100%</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}