{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>{{pokemon.nimi}}</h1>
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<p>
<form method="post" action="{{base_path}}/pokemon/{{pokemon.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<a href="{{base_path}}/pokemon/{{pokemon.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

<ul>

    <li><strong>Nimi:</strong> {{pokemon.nimi}}</li>
    <li><strong>Järjestysnumero:</strong> {{pokemon.jarjestysnumero}}</li>
    <li><strong>Tyyppi:</strong> {{pokemon.tyyppi}}</li>
    <li><strong>Edellinen muoto:</strong> {{pokemon.edellinenmuoto}}</li>
    <li><strong>Seuraava muoto:</strong> {{pokemon.seuraavamuoto}}</li>

</ul>

<p>
    <a href="https://bulbapedia.bulbagarden.net/wiki/{{pokemon.nimi}}">Linkki pokemonin kuvaukseen</a>
</p>
{% endblock %}