{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>{{pokemon.nimi}}</h1>
<!-- Painikkeet tähän -->
<p>
    {{forms.destroy_button()}}
    <a href="{{base_path}}/pokemon/{{pokemon.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>

    <li><strong>Nimi:</strong> {{pokemon.nimi}}</li>
    <li><strong>Järjestysnumero:</strong> {{pokemon.jarjestysnumero}}</li>
    <li><strong>Tyyppi:</strong> {{pokemon.tyyppi}}</li>
    <li><strong>Edellinen muoto:</strong> {{pokemon.edellinenmuoto}}</li>
    <li><strong>Seuraava muoto:</strong> {{pokemon.seuraavamuoto}}</li>

</ul>
<!-- Kuvaus tulee tähän -->
<p>
    <a href="https://bulbapedia.bulbagarden.net/wiki/Pikachu_(Pok%C3%A9mon)">Linkki pokemonin kuvaukseen</a>
</p>
{% endblock %}