{% extends "base.html" %}
{% block content %}
<h1>Kaikki tietokannan Pokémonit</h1>

<p>
    <p style="color:yellowgreen;font-size:20px;">Nämä ovat Pokémonlajit, joista pystyt lisäämään itsellesi yksilöitä. Kirjaudu sisään alottaaksesi. Klikkaamalla "Omat Pokémonit" pääset selaamaan omia yksilöitä ja lisäilemään, muokkailemaan ja poistamaan niitä.</p>
</p>

<p>
    <p style="color:blue;font-size:36px;">{{message}}</p>
</p>

<p>
    <a href="{{base_path}}/pokemon/new" class="btn btn-success">Lisää pokemon</a>
    
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Järjestysnumero</th>
            <th>Tyyppi</th>
            <th>Edellinen muoto</th>
            <th>Seuraava muoto</th>
        </tr>
    </thead>

    <tbody>
        {% for pokemon in pokemons %}

        <tr>
            <td><a href="{{base_path}}/pokemon/{{pokemon.id}}">{{pokemon.nimi}}</td>
            <td>{{pokemon.jarjestysnumero}}</td>
            <td>{{pokemon.tyyppi}}</td>
            <td>{{pokemon.edellinenmuoto}}</td>
            <td>{{pokemon.seuraavamuoto}}</td>           
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/pokemon/{{pokemon.id}}/edit">Muokkaa</a></th>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}