{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{userpokemon.lempinimi}} ({{userpokemon.nimi}})</h1>

<p>
<th><form method="post" action="{{base_path}}/userpokemon/s/{{userpokemon.id}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form></th>
<th><a class="btn btn-default btn-sm" href="{{base_path}}/userpokemon/s/{{userpokemon.id}}/edit">Muokkaa</a></th>
</p>

<ul>

    <li><strong>Laji:</strong> {{userpokemon.nimi}}</li>
    <li><strong>Lempinimi:</strong> {{userpokemon.lempinimi}}</li>
    <li><strong>Kaappauspäivämäärä:</strong> {{userpokemon.kaappauspvm}}</li>
    <li><strong>CP:</strong> {{userpokemon.cp}}</li>
    <li><strong>IV:</strong> {{userpokemon.iv}}</li>

</ul>
<!-- Kuvaus tulee tähän -->
<p>
    <a href="https://bulbapedia.bulbagarden.net/wiki/{{userpokemon.nimi}}">Linkki Pokémonin kuvaukseen</a>
</p>
{% endblock %}