{% extends "base.html" %}
{% block content %}
<h1>Kaikki Pokémonisi</h1>


<p style="color:blue;font-size:36px;">{{message}}</p>


<p>
    <a href="{{base_path}}/userpokemon/{{user_logged_in.nimi}}/new" class="btn btn-success">Lisää itsellesi Pokémon</a>

</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Laji</th>
            <th>Lempinimi</th>
            <th>Kaappauspäivämäärä</th>
            <th>CP</th>
            <th>IV</th>
        </tr>
    </thead>

    <tbody>
        {% for userpokemon in userpokemons %}

        <tr>
            <td>{{userpokemon.nimi}}</td>
            <td><a href="{{base_path}}/userpokemon/s/{{userpokemon.id}}">{{userpokemon.lempinimi}}</a></td>
            <td>{{userpokemon.kaappauspvm}}</td>
            <td>{{userpokemon.cp}}</td>
            <td>{{userpokemon.iv}}</td> 
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/userpokemon/{{userpokemon.id}}/edit">Muokkaa</a></th>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}