{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{userpokemon.lempinimi}} ({{userpokemon.nimi}})</h1>

<p>
    <a href="{{base_path}}/userpokemon/{{userpokemon.id}}/destroy" class="btn btn-danger">Poista</a>
    <a href="{{base_path}}/userpokemon/{{userpokemon.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

<ul>

    <li><strong>Laji:</strong> {{userpokemon.nimi}}</li>
    <li><strong>Lempinimi:</strong> {{userpokemon.lempinimi}}</li>
    <li><strong>Kaappauspäivämäärä:</strong> {{userpokemon.kaappauspvm}}</li>
    <li><strong>CP:</strong> {{userpokemon.cp}}</li>
    <li><strong>IV:</strong> {{userpokemon.iv}}</li>

</ul>
<!-- Kuvaus tulee tähän -->
<p>
    <a href="https://bulbapedia.bulbagarden.net/wiki/{{userpokemon.nimi}}">Linkki Pokémonin kuvaukseen</a>
</p>
{% endblock %}